<app-cabecera titulo="Educación Financiera"></app-cabecera>

<ion-content>

    <ion-grid class="principal">
        <ion-row align-items-center>
          <ion-col align-self-center>
              <br>
            <ion-img width="80" height="80" src="assets/imagenes/light-bulb-money.png"></ion-img>
                <br>
                <br>
            <h2 style="text-align: center;">Bienvenido al test</h2>
                <br>
                <div style="text-align: center;">
                    <ion-button ion-button (click)="iniciar()">Iniciar</ion-button>
               </div>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
