<app-cabecera titulo="Noticias"></app-cabecera>

<ion-content>
  <!-- Seccion del clima -->
  <ion-card>
    <ion-item>
      <ion-label>
        <h1>Clima de {{ clima.name }}</h1>
        <h2>
          Temperatura: {{ clima.tempc }}
          <ion-icon name="partly-sunny-outline"></ion-icon>
        </h2>
        <h3>
          Probabilidad de precipitación: {{ clima.probabilityofprecip }}
          <ion-icon name="rainy-outline"></ion-icon>
        </h3>
        <p>Humedad: {{ clima.relativehumidity }} <ion-icon name="rainy-outline"></ion-icon></p>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Seccion de gasolina -->
  <ion-card>
    <ion-item>
      <ion-label>
        <h1>Precio de gasolina <ion-icon name="car-outline"></ion-icon></h1>
        <h3>
          Ubicación más cercana: {{ gasolina.calle }}
        </h3>
        <p>Precio Magna: {{ gasolina.regular }}</p>
        <p>Precio Premium: {{ gasolina.premium }}</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Seccion de gasolina -->
  <ion-card>
    <ion-item>
      <ion-label>
        <h1>Calidad del aire <ion-icon name="heart-half-outline"></ion-icon></h1>
        <h2>Lugar: {{ lugar }}</h2>
        <h2>IMECA: {{ calidad }}</h2>
      </ion-label>
    </ion-item>
  </ion-card>

  <!-- Seccion de noticias -->
  <ion-card *ngFor="let noticia of noticias">
    <ion-item>
      <ion-avatar slot="start">
        <img src="{{ noticia.url_img }}">
      </ion-avatar>
      <ion-label>
        <h3>{{ noticia.title }}</h3>
        <p>{{ noticia.date }}</p>
      </ion-label>
    </ion-item>

    <img src="{{ noticia.url_img }}" (click)="abrirNoticia(noticia.id)">
    <ion-card-header>
      <ion-card-title>{{ noticia.description }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      {{ noticia.description }}
    </ion-card-content>

    <ion-footer>
      <ion-row>
        <ion-col center text-center>
          
            <div>{{ noticia.name }}</div>
          
        </ion-col>
        <ion-col center text-center>
          
            <div>Autor: {{ noticia.author }}</div>
          
        </ion-col>
      </ion-row>
    </ion-footer>
  </ion-card>
</ion-content>
