/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



/* **************************
Fondos
************************** */
.ion-page {
  background: #004481;
}

.blueCore {
  --background: #004481;
}

.drarkblue {
  --background: #072146;
}

/* **************************
    Estilos de la cabecera
************************** */
@font-face {
  font-family: Beton-sans-light;
  src: url("assets/fuentes/Benton-Sans/bentonsanslight/BentonSans Light.otf");
}

@font-face {
  font-family: Beton-sans-medium;
  src: url("assets/fuentes/Benton-Sans/bentonsansmedium/BentonSans Medium.otf");
}

@font-face {
  font-family: Beton-sans-book;
  src: url("assets/fuentes/Benton-Sans/bentonsansbook/BentonSans Book.otf");
}

.cabecera {
  padding-right: 48px;
  height: 5em;
  text-align: center;
  --background: #072146;
  color: white;
  font-family: Beton-sans-light;
}

.cabeceraLogin {
  --padding-top: 2em;
  height: 7em;
}

/* **************************
    Estilos de la menú principal
************************** */
.menuPrincipal {
  height: 100%;
  background-image: url("../src/assets/imagenes/fondoBBVA.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemMenu {
  --background: transparent;
  font-family: Beton-sans-medium;
}

.iconoMenu {
  color: white;
}

.labelMenu {
  color: white;
}

/* **************************
    Estilos página de operaciones
************************** */
.cabeceraOperaciones {
  // padding-left: 100px;
  height: 5em;
  text-align: center;
  --background: #004481;
  color: white;
  font-family: Beton-sans-light;
}

/* **************************
    Varios
************************** */
.colBotonFab {
  padding: 1em 0em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.colLabel {
  color: white;
  text-align: center;
  margin: 0%;
  padding: 0%;
  font-size: 0.8em;
}

.botonFab {
  width: 7em;
  height: 7em;
}

.colapsar {
  transition: 0.7s ease-in-out;
  transition-delay: 0s;
  max-height: 0;
  overflow: hidden;
}

.mostrarOpciones {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tarjetaCuentas {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.cuentaPesos {
  font-size: 1.4em;
  font-family: Beton-sans-light;
  font-weight: bolder !important;
  color: CMYK 40/20/10/100;
}

.cuentaTag {
  font-family: Beton-sans-light;
  font-size: 1.5em !important;
  font-weight: bolder !important;
  color: #043263;
}

.cuenta {
  font-family: Beton-sans-light;
  font-size: 1.3em !important;
  font-weight: bolder !important;
  color: black;
}

.saldoTag {
  font-family: Beton-sans-light;
  font-size: 1.3em !important;
  font-weight: bolder !important;
  color: CMYK 40/30/20/66;
}

.saldo {
  font-family: Beton-sans-light;
  font-size: 1.7em !important;
  font-weight: bolder !important;
  color: black;
}

.cabeceraLogin {
  padding-bottom: 7em;
  padding-left: 48px;
  height: 5em;
  --background: transparent;
  color: white;
}

.logoCabecera {
  display: block;
  width: 5em;
  margin: auto;
}

.divLogin {
  background: transparent;
  height: 90%;
  padding: 13em 3em;
  transition: all .3s ease-in-out;
}

.itemLogin {
  --background: transparent;
  border-bottom: solid 1px white;
}

.labelLogin {
  color: white !important;
  font-family: Beton-sans-light;
}

.iconLogin {
  color: white;
}

.inputLogin {
  --color: white !important;
  font-family: Beton-sans-light;
}

.colLogin {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.aLogin {
  font-family: Beton-sans-medium;
  padding: 1em;
  text-decoration: none;
  color: white;
}

.btonLogin {
  width: 12em;
  height: 4em;
  font-family: Beton-sans-medium;
  color: white;
  border: none;
  --background: #1464A5;
  --box-shadow: none;
}

.divBotonLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerLogin {
  text-align: center;
  color: white;
  --background: transparent;
}

.slidesContenedor{
  height: 83%;
}

.pSlides {
  padding: 1em;
  color: white;
  font-family: Beton-sans-medium;
  line-height: 2em;
}

.labelVinculacion {
  text-align: right;
  font-family: Beton-sans-medium;
  --color: #072146 !important;
  font-weight: bolder;
}

.contenedorGral {
  font-family: Beton-sans-light;
  font-size: 1.3em;
  font-weight: bolder;
  padding: 1em 2em 1em 2em;
}


.labelPuntos {
  text-align: left;
  font-family: Beton-sans-medium;
  --color: #072146 !important;
  font-weight: bolder;
  padding: 1em;
}

.slideCategorias {
  height: 50%;
}
