<app-cabecera titulo="Información sobre tu tarjeta"></app-cabecera>

<ion-content>
  <div style="padding: 1em 2em;">
    <h2 style="font-family: Beton-sans-light;">Tarjeta de transporte BBVA</h2>
  </div>

  <div class="contenedorGral">
    <ion-item>
      <ion-label class="ion-text-wrap labelPuntos">
        Desactivar mi tarjeta por robo o extravío
      </ion-label>

      <ion-toggle
        mode="ios"
        style="--background-checked: #1464A5;"
      ></ion-toggle>
    </ion-item>
  </div>
</ion-content>