<app-cabecera titulo="Sostenibilidad"></app-cabecera>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="colBotonFab">
                <ion-fab-button class="botonFab">
                    <ion-icon
                        name="swap-horizontal-sharp"
                        size="large"
                    ></ion-icon>
                </ion-fab-button>
            </ion-col>

            <ion-col class="colBotonFab">
                <ion-fab-button class="botonFab">
                    <ion-icon
                        name="add-sharp"
                        size="large"
                    ></ion-icon>
                </ion-fab-button>
            </ion-col>

            <ion-col class="colBotonFab">
                <ion-fab-button class="botonFab">
                    <ion-icon
                        name="phone-portrait-sharp"
                        size="large"
                    ></ion-icon>
                </ion-fab-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>