<app-cabecera titulo="Personaliza tu tarjeta"></app-cabecera>

<ion-content>

  <div ng-if="usuario.tipoCliente === 'Nuevo'">
    <ion-label>Solicitar tarjeta física</ion-label>
    <ion-checkbox checked="false"></ion-checkbox>
  </div>


  <ion-slides pager="true">
    <ion-slide *ngFor="let slide of slides">
      <ion-card mode="ios">
        <img [src]="slide.img">
      </ion-card>
    </ion-slide>    
  </ion-slides>

  <ion-button mode="ios" expand="block" (click)="enviaSolicitud()">Solicitar</ion-button>

</ion-content>
