<ion-menu
  side="end"
  menuId="menuPrincipal"
  contentId="menu-principal"
>
  <ion-content>
    <div class="menuPrincipal">
      <ion-list style="background: transparent;">
        <ion-menu-toggle *ngFor="let item of elementos">
          <ion-item
            class="itemMenu"
            lines="none"
            [routerLink]="item.path"
          >
            <ion-icon
              class="iconoMenu"
              slot="start"
              [name]="item.icono"
            ></ion-icon>

            <label class="labelMenu ion-text-wrap">{{ item.elemento }}</label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>