<!--ion-menu
  side="end"
  menuId="menuPrincipal"
  contentId="menu-principal"
>
  <ion-header mode="md">
    <ion-toolbar color="primary">
      <ion-title class="ion-text-wrap">Menú Principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <img src="assets/icon/uam.jpg">

    <ion-list>
      <ion-menu-toggle *ngFor="let item of elementos">
        <ion-item
          [routerLink]="item.path"
          detail="true"
        >
          <ion-icon
            slot="start"
            [name]="item.icono"
            color="primary"
          ></ion-icon>

          <label
            class="ion-text-wrap"
          >{{ item.elemento }}</label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu-->