<app-cabecera titulo="Hola, Usuario"></app-cabecera>

<ion-content>
  <br>
  <br>
  <ion-grid>
      <ion-row>
          <ion-col class="colBotonFab">
              <ion-fab-button class="botonFab" style="--background:#1D4672">
                  <ion-icon
                      name="swap-horizontal-sharp"
                      size="large"
                  ></ion-icon>
              </ion-fab-button>
          </ion-col>

          <ion-col class="colBotonFab">
              <ion-fab-button class="botonFab" style="--background: #F7893B">
                  <ion-icon
                      name="add-sharp"
                      size="large"
                  ></ion-icon>
              </ion-fab-button>
          </ion-col>

          <ion-col class="colBotonFab">
              <ion-fab-button class="botonFab" style="--background:#02A4A6">
                  <ion-icon
                      name="phone-portrait-sharp"
                      size="large"
                  ></ion-icon>
              </ion-fab-button>
          </ion-col>
      </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
        <ion-col class="colBotonFab">
            <ion-label class="colLabel">Transferir</ion-label>
        </ion-col>

        <ion-col class="colBotonFab">
          <ion-label class="colLabel">Oportunidades</ion-label>
      </ion-col>

      <ion-col class="colBotonFab">
        <ion-label class="colLabel">Retiro sin tarjeta</ion-label>
    </ion-col>

    </ion-row>
</ion-grid>
</ion-content>
