<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-label position="floating">Hola</ion-label>
    <ion-label position="floating">Rodrigo</ion-label>
    <ion-label position="floating">Cambiar de usuario</ion-label>
  

  <ion-item lines="full">
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" (ionChange)="guardaValores($event)" required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <a [routerLink]="['/forgot-password']" class="small-text">Olvidé mi contraseña</a>
      
      <ion-button mode="ios" expand="block" (click)="enviaDatos()" >Entrar</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
