<ion-header class="ion-no-border">
    <ion-toolbar
        mode="md"
        class="cabecera"
    >
        <ion-buttons slot="start" style="height: 5em;">
            <ion-back-button
                text=""
                defaultHref="/"
            ></ion-back-button>
        </ion-buttons>

        <ion-title class="ion-text-wrap">{{ titulo }}</ion-title>

        <ion-buttons slot="end" style="height: 5em;">
            <ion-menu-button menu="menuPrincipal">
                <ion-icon
                    name="menu"
                    size="large"
                ></ion-icon>
            </ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>