<ion-header class="ion-no-border">
  <ion-toolbar
    mode="md"
    class="cabeceraGaleria"
  >
    <ion-title class="ion-text-wrap">Galeria de imágenes</ion-title>

    <ion-buttons
      slot="end"
      style="height: 5em;"
    >
      <ion-button (click)="cerrar()">
        <ion-icon
          name="close-sharp"
          size="large"
        ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div
    class="contenedorGral"
    style="color: #072146;"
  >
    <p>
      Desliza y luego toca una imagen para seleccionarla.
    </p>
  </div>

  <ion-slides
    class="slideGaleria"
    pager="true"
  >
    <ion-slide *ngFor="let item of listaImagenes; let i=index">
      <ion-item
        button="true"
        lines="none"
      >
        <img [src]="item">
      </ion-item>
    </ion-slide>
  </ion-slides>

  <div class="divBotonGaleria">
    <ion-button
      class="btonLogin"
      style="width: 16em;"
    >Enviar selección</ion-button>
  </div>
</ion-content>